$include /etc/inputrc

set editing-mode vi
tab: complete
set completion-ignore-case on
set blink-matching-paren on

"\C-^":rlwrap_call_editor

# Clojure REPL.
$if clj
	set comment-begin ;
$endif

$if sbcl
	set comment-begin ;
$endif
